<h3><%= t('config.header') %></h3>

<p>
  <label><%= t('config.enabled') %></label>
  <%= check_box_tag 'settings[enabled]', false, @settings['enabled'] %>
</p>

<p>
  <label><%= t('config.client_id') %></label>
  <%= text_field_tag 'settings[client_id]', @settings['client_id'] %>
</p>

<p>
  <label><%= t('config.openid_connect_server_url') %></label>
  <%= text_field_tag 'settings[openid_connect_server_url]', @settings['openid_connect_server_url'], :size => '60' %>
</p>

<p>
  <label><%= t('config.client_secret') %></label>
  <%= password_field_tag 'settings[client_secret]', @settings['client_secret'], :size => '60' %>
</p>

<p>
  <label><%= t('config.scopes') %></label>
  <%= text_field_tag 'settings[scopes]', @settings['scopes'], :size => '60' %>
</p>

<p>
  <label><%= t('config.dont_change_group') %></label>
  <%= check_box_tag 'settings[dont_change_group]', true, @settings['dont_change_group'] %>
</p>

<p>
  <label><%= t('config.group') %></label>
  <%= text_field_tag 'settings[group]', @settings['group'] %>
</p>

<p>
  <label><%= t('config.admin_group') %></label>
  <%= text_field_tag 'settings[admin_group]', @settings['admin_group'] %>
</p>

<p>
  <label><%= t('config.dynamic_config_expiry') %></label>
  <%= text_field_tag 'settings[dynamic_config_expiry]', @settings['dynamic_config_expiry'] %>
</p>

<p>
  <label><%= t('config.disable_ssl_validation') %></label>
  <%= check_box_tag 'settings[disable_ssl_validation]', true, @settings['disable_ssl_validation'] %>
</p>

<p>
  <label><%= t('config.login_selector') %></label>
    <%= check_box_tag 'settings[login_selector]', false, @settings['login_selector'] %>
</p>

<p>
  <label><%= t('config.create_user_if_not_exists') %></label>
    <%= check_box_tag 'settings[create_user_if_not_exists]', true, @settings['create_user_if_not_exists'] %>
</p>

<p>
  <label><%= t('config.disallowed_auth_sources_login') %></label>
  <%= select_tag 'settings[disallowed_auth_sources_login]', options_for_select(AuthSource.all.map { |a| [a.name, a.id] }, OicSession.disallowed_auth_sources_login), :multiple => true, :include_blank => true, :size => 5 %>
</p>
